table, span {
    color: #006daf;
    font: 12px FiraMonoForPowerline-Regular;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
}
.white {
    color: #eee8d5;
}

.black {
  color: #333333;
}

.background {
    background: #ffffff;
}

.red {
    color: #dc322f;
}

.purple {
    color: #6c6ec6;
}

.orange {
    color: #eead0d;
}
.orangebg {
    background: #eead0d;
    color: #ffffff;
}
 
.yellow {
    color: #b58901;
}

.yellowbg {
    background: #b58901;
    color: #ffffff;
}

.green {
    color: #076104;
}

.greenbg {
    background: #076104;
    color: #ffffff;
}

.cyan {
    color: #85ceeb;
}

.cyanbg {
    background: #85ceeb;
    color: #ffffff;
}

.blue {
    color: #268bd2;
}

.teal {
    color: #85ceeb;
}

.sicon {
    position: relative;
    font: 10px FontAwesome;
}
.icon {
    position: relative;
    top: 1px;
    font: 14px FontAwesome;
}
.weather {
    font: 16px WeatherIcons-Regular;
    position: relative;
    top: 2px;
}

.grey {
    color: #a9a9a9;
}

