table, span {
    color: #52fba6;
    font: 12px SFMono-Medium;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
}
.white {
    color: #f5deb3;}

.black {
  color: #20213e;
}

.background {
    background-color: #20213e;
}

.red {
    color: #db7093;
}

.purple {
    color: #483d8b;
}

.orange {
    color: orange;
}
.orangebg {
    background: orange;
    color: #20213e;
}

.yellow {
    color: #eedd82;
}

.yellowbg {
    background: #eedd82;
    color: #20213e;
}

.green {
    color: lime;
}

.greenbg {
    background: LawnGreen;
    color: #20213e;
}

.cyan {
    color: #52fba6;
}

.cyanbg {
    background: #52fab6;
    color: #20213e;
}

.blue {
    color: #00c4ff;
}

.teal {
    color: seagreen;
}

.sicon {
    position: relative;
    font: 10px FontAwesome;
}
.icon {
    position: relative;
    top: 1px;
    font: 14px FontAwesome;
}
.weather {
    font: 16px WeatherIcons-Regular;
    position: relative;
    top: 2px;
}

.grey {
    color: #838b83;
}
