table, span {
    color: #d08770;
    font: 12px SFMono-Medium;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
}
.white {
    color: #c0c5ce;}

.black {
  color: #2f3841;
}

.background {
    background-color: #2f3841;
}

.red {
    color: #bf616A;
}

.purple {
    color: #b48ead;
}

.orange {
    color: #d08770;
}
.orangebg {
    background: #d08770;
    color: #c0c5ce;
}

.yellow {
    color: #ecbe7b;
}

.yellowbg {
    background: #ecbe7b;
    color: #c0c5ce;
}

.green {
    color: #a3be8c;
}

.greenbg {
    background: #a3be8c;
    color: #c0c5ce;
}

.bluebg {
    background: #8fa1b3;
    color: #c0c5ce;
}

.cyan {
    color: #46d9ff;
}

.cyanbg {
    background: #46d9ff;
    color: #c0c5ce;
}

.blue {
    color: #8fa1b3;
}

.teal {
    color: #4db5db;
}

.sicon {
    position: relative;
    font: 10px FontAwesome;
}
.icon {
    position: relative;
    top: 1px;
    font: 14px FontAwesome;
}
.weather {
    font: 16px WeatherIcons-Regular;
    position: relative;
    top: 2px;
}

.vol_icon {
   position: relative;
   font: 18px FontAwesome;
}

.grey {
    color: #4F5B66";
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
       width: 140px;
      -webkit-appearance: none;
      background-color: #4f5b66;
    }
    input[type='range']::-webkit-slider-thumb {
      overflow: visible;
      width: 16px;
      -webkit-appearance: none;
      height: 16px;
      /* border-radius: 8px; */
      top: 10px
      cursor: ew-resize;
      background: #c0c5ce;
      box-shadow: -140px 0 0 140px;
      color: #d08770;
      margin-top: -4.5px;
      z-index: 99;
    }
    input[type=range]:focus{
      outline: none
    }
    input[type=range]::-webkit-slider-runnable-track{
      width: 100%;
      height: 8px;
      overflow: visible;
      cursor: ew-resize;
}
}

